<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-2.5.xsd"
	default-lazy-init="true">
	
	<bean id="magician" class="com.mj.springAction.chapter4.Magician" />
	<bean id="volunteer" class="com.mj.springAction.chapter4.Volunteer" />
	<aop:config proxy-target-class="true">
		<aop:aspect ref="magician">
			<aop:pointcut
				expression="execution(* com.mj.springAction.chapter4.Thinker.thinkofSomething(String)) and args(thoughts)"
				id="thinking" />
			<aop:before pointcut-ref="thinking" method="interceptThoughts"
				arg-names="thoughts" />
		</aop:aspect>
	</aop:config>
	</beans>